@font-face {
    font-family: 'Pacifico';
    src: url('../font/Pacifico.eot'); /* IE9 Compat Modes */
    src: url('../font/Pacifico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/Pacifico.woff') format('woff'), /* Modern Browsers */
         url('../font/Pacifico.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/Pacifico.svg#Pacifico') format('svg'); /* Legacy iOS */
}

body {
    background:transparent url(../images/background.jpg) no-repeat center top;
    background-size: cover;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #f5f4f2;
    text-shadow: 3px 7px rgb(255, 145, 77);
    -webkit-text-stroke: 1px #966f5e;
}

input[type=text] {
    background: #f5f4f2;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:40px;
    width: 95%;
}

input[type=text]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.google {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%) translateY(-50%);
    height: 48px;
    width: 400px;
    background: #f5f4f2;
    border-style: solid;
    border-color: #966f5e;
    border-radius: 15px;
    box-shadow: 3px 7px rgb(255, 145, 77);
}

@media screen and (max-width: 768px) {
    body {
        background:transparent url(../images/background.jpg) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-position-x: 25% !important;
        background-position-y: 20% !important;
    }
    header {
        font-size: 1.5em !important;
    }
    .google {
        bottom: 25% !important;
        width: 200px !important;
    }
    input[type=text] {
        position: absolute !important;
        height: 20px !important;
        bottom: 30% !important;
    }
}
@media screen and (max-width: 720px) {
    header {
        font-size: 1.5em !important;
        width: 100% !important;
        text-align: center !important;
    }
    
}
@media screen and (max-width: 540px) {
    header {
        font-size: 1.4em !important;
    }
    .google {
         display: none !important;
    }
}
@media screen and (max-width: 414px) {
    header {
        font-size: 1.3em !important;
        width: 100% !important;
        text-align: center !important;
    }
    .google {
         display: none !important;
    }
}
@media screen and (max-width: 375px) {
    header {
        font-size: 1.3em !important;
        width: 100% !important;
        text-align: center !important;
    }
    .google {
         display: none !important;
    }
}
@media screen and (max-width: 360px) {
    .google {
         display: none !important;
    }
}
